<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>

{% extends 'oorja/base.html' %}


{% load static %}

{% block content %} 

    <div class="talks">
        <div class="photo">
          
        <img src="file:///E|/footprints/mine.jpg" width="540" height="539" class="img"></div>
        <p id="name">Wing Commander Professor V.K. Prasher</p>
    	<p id="talks1">Creativity has the power to convert the simplest of things into something magical. 
It is through the exquisiteness of Creativity that the horizons of human mind reach new epitome and new infinities are conquered. Technology, when complimented with creativity, has the ability to yield the greatest of inventions and innovations—an idea, a theory, a product or a philosophy. It signifies the potential to find hidden patterns in the Universe, to make new connections between seemingly unrelated phenomenon and to generate solutions. So turn on the light of innovation in your brain and use the brightness to make the world shine.
</p>
    </div>


    {% endblock %}